.contact {
  padding: vw($sp-width, 60) 0 vw($sp-width, 82);
  
  &__form {
	margin-top: vw($sp-width, 47);
  }
  
  &__group {
	margin-top: vw($sp-width, 42);
  }
  
  &__label-group {
	display: flex;
	align-items: center;
	gap: 10px;
  }
  
  &__label {
	font-size: vw($sp-width, 26);
	font-family: "YuGothic";
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1;
	text-align: left;
  }
  
  &__required {
	padding: 0 vw($sp-width, 14);
	font-size: vw($sp-width, 24);
	font-family: "YuGothic";
	color: rgb(255, 113, 101);
	font-weight: bold;
	text-align: center;
	border: 1px solid rgb(255, 113, 101);
	border-radius: 4px;
	line-height: 1.2;
  }
  
  &__input {
	margin-top: vw($sp-width, 15);
	width: 100%;
	height: vw($sp-width, 80);
	border: 1px solid #e1e6ee;
	border-radius: 6px;
	background-color: #f1f3f5;
	
	&::placeholder {
	  padding-left: vw($sp-width, 28);
	  font-size: vw($sp-width, 26);
	  font-family: "YuGothic";
	  color: rgba(0, 0, 0, 0.502);
	  text-align: left;
	}
  }
  
  &__label-check {
	margin-bottom: vw($sp-width, 34);
  }
  
  &__input-check {
	margin-bottom: vw($sp-width, 20);
	display: block;
	font-size: vw($sp-width, 28);
	font-family: "YuGothic";
	color: rgb(0, 0, 0);
	line-height: 1.714;
	text-align: left;
  }
  
  &__check-box {
	margin-right: vw($sp-width, 24);
	border: 1px solid #717171;
	width: vw($sp-width, 35);
	height: vw($sp-width, 35);
  }
  
  &__input-textarea {
	margin-top: vw($sp-width, 24);
	width: 100%;
	height: vw($sp-width, 237);
	border: 1px solid #e1e6ee;
	background-color: #f1f3f5;
	border-radius: 6px;
	
	&::placeholder {
	  padding: vw($sp-width, 28);
	  font-size: vw($sp-width, 26);
	  font-family: "YuGothic";
	  color: rgba(0, 0, 0, 0.502);
	  text-align: left;
	}
  }
  
  &__policy {
	font-size: vw($sp-width, 26);
	font-family: "YuGothic";
	color: rgb(0, 0, 0);
	line-height: 1.154;
	text-align: left;
  }
  
  &__policy-link {
	cursor: pointer;
	font-size: vw($sp-width, 26);
	color: rgb(51, 176, 255);
	line-height: 1.154;
	text-align: left;
  }
  
  &__order {
	margin-top: vw($sp-width, 70);
	font-size: vw($sp-width, 34);
	font-family: "YuGothic";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: vw($sp-width, 90);
	text-align: center;
	border-radius: 45px;
	background: linear-gradient(180deg, rgb(255, 113, 102) 1%, rgb(255, 150, 53) 99%);
	width: vw($sp-width, 600);
	height: vw($sp-width, 90);
  }
  
}