.footer {
  padding: vw($sp-width, 70) 0 vw($sp-width, 55);
  display: flex;
  flex-direction: column;
align-items: center;
  &__logo {
    width: vw($sp-width, 231);
    height: vw($sp-width, 70);
  }
  
  &__list{
    margin-top: vw($sp-width, 42);
    margin-bottom: vw($sp-width, 56);
  }
  
  &__list-item{
    font-size: vw($sp-width, 26);
      font-family: "YuGothic";
      color: rgb(0, 0, 0);
      line-height: 1.538;
      text-align: center;
  }
  
  &__attention {
    font-size: vw($sp-width, 24);
      font-family: "YuGothic";
      color: rgb(34, 34, 34);
      line-height: 1.333;
      text-align: left;
  }
  
  &__sns {
    margin-top: vw($sp-width, 70);
    margin-bottom: vw($sp-width, 30);
    display: flex;
    align-items: center;
    gap: vw($sp-width, 40);
  }
  
  &__sns-img {
    width: vw($sp-width, 50);
    height: vw($sp-width, 50);
  }
  
  &__copy {
      font-size: vw($sp-width, 22);
      font-family: "YuGothic";
      color: rgb(0, 0, 0);
      line-height: 0.773;
      text-align: center;
  }
}