.header {
  width: 100%;
  height: vw($sp-width, 80);
  
  &__inner {
    width: vw($sp-width, 720);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__logo {
    width: vw($sp-width, 198);
    height: vw($sp-width, 60);
  }
  
  &__items {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  &__link--small {
    white-space: nowrap;
    padding: 14px 40px;
    font-size: 24px;
    text-align: center;
    font-family: "YuGothic", serif;
    color: rgb(255, 254, 254);
    font-weight: bold;
    line-height: 0.728;
      background: linear-gradient( 180deg, rgb(255,150,53) 1%, rgb(252,219,0) 99%);
    border-radius: 28px;
  }
  
  &__link--large {
    white-space: nowrap;
    padding: 14px 22px;
    font-size: vw($sp-width, 24);
    text-align: center;
    font-family: "YuGothic", serif;
    color: rgb(255, 254, 254);
    font-weight: bold;
    line-height: 0.728;
    border-radius: 28px;
    background-image: linear-gradient( 180deg, rgb(255,113,102) 1%, rgb(255,150,53) 99%);
  
  }
}